<template>
  <v-autocomplete
    v-model="selected"
    :items="sortedOptions"
    :label="name"
    persistent-hint
    :prepend-icon="icon"
  >
    <template v-slot:append-outer>
      <v-slide-x-reverse-transition mode="out-in">
        <v-icon :color="'info'" v-text="'mdi-check-outline'"></v-icon>
      </v-slide-x-reverse-transition>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  name: "AutoCompleteInput",
  props: {
    name: String,
    model: String,
    options: Array,
    icon: String,
    value: String
  },
  data() {
    return {
      isEditing: false,
        selected: this.value
    };
  },
  computed: {
    sortedOptions() {
        let options = JSON.parse(JSON.stringify(this.options));
      return options.sort((a, b) => (a > b ? -1 : 1));
    }
  },
  watch: {
    value() {
      this.selected = this.value;
    },
    selected: function(val) {
        this.$emit("selected", {model: this.model, val});
    }
  }
};
</script>