<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex>
          <v-card v-if="isLoading">
            <v-progress-circular :size="70" :width="7" color="purple" indeterminate></v-progress-circular>
          </v-card>
          <v-card v-else>
            <v-card-title>
              Nutrition
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="flights" :search="search">
              <template v-slot:items="props">
                <td>{{ props.item.__id }}</td>
                <td>{{ props.item.__glider.radiocall }}</td>
                <td>{{ props.item.__pilot1.__str }}</td>
                <td>{{ props.item.__pilot2.__str }}</td>
                <td>{{ new Date(props.item.takeofftime).toLocaleString() }}</td>
                <td>{{ props.item.landtime ? new Date(props.item.landtime).toLocaleString() : '' }}</td>
                <td>{{ props.item.__flighttype.flighttype }}</td>
                <td>{{ props.item.__dragtype.towingtype }}</td>
                <td>{{ props.item.__dragplane.radiocall }}</td>
                <td>{{ props.item.__dragpilot.__str }}</td>
              </template>
              <template v-slot:no-results>
                <v-alert
                  :value="true"
                  color="error"
                  icon="warning"
                >Your search for "{{ search }}" found no results.</v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
    import fetchFlights from "../../api/fetch-flights";

    export default {
  name: "Summary",
  data() {
    return {
      isLoading: false,
      search: "",
      headers: [
        { text: "ID", value: "__id" },
        { text: "Glider", value: "__glider.radiocall" },
        { text: "Pilot 1", value: "__pilot1.__str" },
        { text: "Pilot 2", value: "__pilot2.__str" },
        { text: "Take Off Time", value: "takeofftime" },
        { text: "Landing Time", value: "landtime" },
        { text: "Flight Type", value: "__flighttype.flighttype" },
        { text: "Tow Type", value: "__dragtype.towingtype" },
        { text: "Tow Airplane", value: "__dragplane.radiocall" },
        { text: "Tow Pilot", value: "__dragpilot.__str" }
      ],
      flights: []
    };
  },
  async mounted() {
    this.isLoading = true;
      let flights = await fetchFlights(this.$store.getters.action.__id);
    this.flights = flights;
    this.isLoading = false;
  }
};
</script>

