<template>
    <selectable-list
            :items="parsedActions"
            :noDelete="true"
            @item-selected="handleActionSelected"
            title="Actions"
    ></selectable-list>
</template>

<script>
    /* eslint-disable */

    import getAction from "../api/get-action";
    import listActions from "../api/list-actions";
    import SelectableList from "../components/common/SelectableList";
    import moment from "moment";

    const isToday = someDate => {
        const today = new Date();
        return (
            someDate.getDate() == today.getDate() &&
            someDate.getMonth() == today.getMonth() &&
            someDate.getFullYear() == today.getFullYear()
        );
    };

    export default {
        name: "ActionPicker",
        components: {
            SelectableList
        },
        data() {
            return {
                actions: []
            };
        },
        async mounted() {
            let actions = await listActions();
            this.actions = actions;
        },
        methods: {
            async handleActionSelected({item}) {
                console.log(item);
                let action = await getAction(item.date);
                this.$store.dispatch("setAction", action);
            }
        },
        computed: {
            parsedActions() {
                let actions = this.actions
                    .sort((a, b) => (a.actiondate > b.actiondate ? -1 : 1))
                    .map(action => {
                        let date = new Date(action.actiondate);
                        return {
                            name: moment(date).format("YYYY-MM-DD"),
                            date,
                            star: isToday(date)
                        };
                    });
                return actions;
            }
        }
    };
</script>
