<template>
  <v-card>
    <v-container>
      <v-layout>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'instructor1'"
                  :name="'Instructor 1'"
                  :options="instructors.map(x => x.__str)"
                  :value="instructor1 ? instructor1.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'instructor2'"
                  :name="'Instructor 2'"
                  :options="instructors.map(x => x.__str)"
                  :value="instructor2 ? instructor2.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'responsible1'"
                  :name="'Responsible 1'"
                  :options="responsibles.map(x => x.__str)"
                  :value="responsible1 ? responsible1.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'responsible2'"
                  :name="'Responsible 2'"
                  :options="responsibles.map(x => x.__str)"
                  :value="responsible2 ? responsible2.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'towPilot1'"
                  :name="'Tow Pilot 1'"
                  :options="towPilots.map(x => x.__str)"
                  :value="towPilot1 ? towPilot1.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
        <v-flex>
          <auto-complete-input
                  :icon="'person'"
                  :model="'towPilot2'"
                  :name="'Tow Pilot 2'"
                  :options="towPilots.map(x => x.__str)"
                  :value="towPilot2 ? towPilot2.__str : null"
                  @selected="handleValueSelection"
          ></auto-complete-input>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
    import AutoCompleteInput from "@/components/flight/AutoCompleteInput";
    import fetchAvailableGliderPilots from "@/api/fetch-available-glider-pilots";
    import fetchAvailableTowPilots from "@/api/fetch-available-tow-pilots";
    import getActionConfiguration from "@/api/get-action-configuration";
    import updateActionConfiguration from "@/api/update-action-configuration";

    export default {
  name: "ActionSetup",
  components: {
    AutoCompleteInput
  },
  data() {
    return {
      action: null,
      instructor1: null,
      instructor2: null,
      responsible1: null,
      responsible2: null,
      towPilot1: null,
      towPilot2: null,
      responsibles: [],
      instructors: [],
      towPilots: []
    };
  },
  async mounted() {
    let loader = this.$loading.show();
    await this.fetchOptions();
    await this.refreshConfiguration();
    loader.hide();
  },
  methods: {
    async refreshConfiguration() {
      const {
        instructor1,
        instructor2,
        responsible1,
        responsible2,
        tow_pilot1: towPilot1,
        tow_pilot2: towPilot2
      } = await getActionConfiguration(this.$store.getters.action.__id);

      this.instructor1 = this.instructors.find(
          x => x.mempkcode === instructor1
      );
      this.instructor2 = this.instructors.find(
          x => x.mempkcode === instructor2
      );
      this.responsible1 = this.responsibles.find(
          x => x.mempkcode === responsible1
      );
      this.responsible2 = this.responsibles.find(
          x => x.mempkcode === responsible2
      );
      this.towPilot1 = this.towPilots.find(x => x.mempkcode === towPilot1);
      this.towPilot2 = this.towPilots.find(x => x.mempkcode === towPilot2);
    },
    async fetchOptions() {
      await Promise.all([
        (async () => {
          let { records: members } = await fetchAvailableGliderPilots(
              parseInt(this.$store.getters.action.__id),
            false
          );
          this.responsibles = JSON.parse(JSON.stringify(members));
          this.instructors = JSON.parse(JSON.stringify(members));
        })(),
        (async () => {
          let { records: towPilots } = await fetchAvailableTowPilots(
              parseInt(this.$store.getters.action.__id),
            false
          );
          this.towPilots = towPilots;
        })()
      ]);
    },
      async handleValueSelection({model, val}) {
      if (val) {
          const {__id} = this.$store.getters.action;
          let config = {__id};
          let res;

        if (["instructor1", "instructor2"].includes(model)) {
            res = this.instructors.find(x => x.__str === val);
        } else if (["responsible1", "responsible2"].includes(model)) {
            res = this.responsibles.find(x => x.__str === val);
        } else if (["towPilot1", "towPilot2"].includes(model)) {
            res = this.towPilots.find(x => x.__str === val);
        } else {
          throw "Model not recognized";
        }

          if (res) {
              config[model] = res.mempkcode;
              await updateActionConfiguration(config);
          }
      }
    }
  }
};
</script>
