<template>
  <div class="menubar">
    <div class="btn-group" role="group" aria-label="Menu bar">
      <router-link to="/action" :class="buttonClass('/action')">
        Action Setup
        <i class="fa fa-cog" aria-hidden="true"></i>
      </router-link>
      <router-link to="/flight/new" :class="buttonClass('/flight/new')">
        New Flight
        <i class="fa fa-list" aria-hidden="true"></i>
      </router-link>
      <router-link to="/ongoing" :class="buttonClass('/ongoing')">
        Ongoing Flights
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </router-link>
      <router-link to="/summary" :class="buttonClass('/summary')">
        Summary
        <i class="fas fa-chart-line" aria-hidden="true"></i>
      </router-link>
      <router-link to="/notes" :class="buttonClass('/notes')">
        Notes
        <i class="fas fa-comments" aria-hidden="true"></i>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuBar',
  methods: {
    buttonClass(path) {
      return {
        btn: true,
        'btn-primary': this.$route.path === path,
        'btn-secondary': this.$route.path !== path
      };
    }
  }
};
</script>

<style>
.menubar {
  margin-bottom: 16px;
}
</style>
