<template>
  <ongoing-flights-board :actionId="actionId"></ongoing-flights-board>
</template>

<script>
import OngoingFlightsBoard from "./OngoingFlightsBoard"

export default {
  name: "OngoingFlightsBoardDataProvider",
  components: {
      OngoingFlightsBoard
  },
  computed: {
    actionId() {
      return this.$store.getters.actionId;
    }
  }
};
</script>
