<template>
  <div>
    <tow-type-modal
      title="Select Tow Type"
      :options="towTypes"
      v-if="showTowTypeModal"
      @close="handleModalCancel"
      @selected="selectTowType"
    ></tow-type-modal>
    <div class="board">
      <div class="row">
        <div class="col-md">
          <state-lane
            @flights-updated="handleFlightUpdate"
            @flight-drag-started="handleDragStart"
            id="tow"
            name="tow"
            title="Tow"
            :flights="towFlights"
            :key="statesKey"
          ></state-lane>
        </div>
        <div class="col-md">
          <state-lane
            @flights-updated="handleFlightUpdate"
            @flight-drag-started="handleDragStart"
            id="ongoing"
            name="ongoing"
            title="Ongoing"
            :flights="ongoingFlights"
            :key="statesKey"
          ></state-lane>
        </div>
        <div class="col-md">
          <state-lane
            @flights-updated="handleFlightUpdate"
            @flight-drag-started="handleDragStart"
            id="landed"
            name="landed"
            title="Landed"
            :flights="landedFlights"
            :key="statesKey"
          ></state-lane>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import StateLane from "./StateLane";
    import SelectionModal from "./SelectionModal";
    import instance from "../instance";
    import fetchOngoingFlights from "../api/fetch-ongoing-flights";

    export default {
  name: "OngoingFlightsBoard",
  components: {
    "tow-type-modal": SelectionModal,
    "state-lane": StateLane
  },
  data: function() {
    return {
      action: null,
      showTowTypeModal: false,
      flights: [],
      towTypes: [],
      draggedFlight: null,
      draggedFlightTargetState: null,
      draggedFlightSourceState: null,
      statesKey: 0
    };
  },
  async mounted() {
    // Fetch the current action
    let loader = this.$loading.show();
    // Fetch the current flights
      this.flights = await fetchOngoingFlights(this.$store.getters.action.__id);
    // Fetch tow types
    this.towTypes = await this.fetchTowTypes();
    this.statesKey++;
    loader.hide();
  },
  computed: {
    towFlights() {
      return this.flights.filter(flight => flight.__state === "tow");
    },
    ongoingFlights() {
      return this.flights.filter(flight => flight.__state === "ongoing");
    },
    landedFlights() {
      return this.flights.filter(flight => flight.__state === "landed");
    }
  },
  methods: {
    async updateFlight({ __id, __state, dragtypeidsc, landtime }) {
      await instance.put("/flight", { __id, __state, dragtypeidsc, landtime });
      this.statesKey++;
      this.draggedFlightSourceState = null;
    },
    async selectTowType(optionId) {
      let flight = this.flights.find(
        flight => flight.__id === this.draggedFlight.__id
      );
      flight.__state = this.draggedFlightTargetState;
      this.updateFlight({
        __id: flight.__id,
        dragtypeidsc: optionId,
        __state: "ongoing"
      });
      this.showTowTypeModal = false;
    },
    handleDragStart({ state }) {
      this.draggedFlightSourceState = state;
    },
    revertFlight() {
      let flight = this.flights.find(
        flight => flight.__id === this.draggedFlight.__id
      );
      flight.__state = this.draggedFlightSourceState;
      this.statesKey++;
    },
    handleModalCancel() {
      this.revertFlight();
      this.showTowTypeModal = false;
    },
    async handleFlightUpdate({ state, newFlight }) {
      this.draggedFlightTargetState = state;
      this.draggedFlight = newFlight;
      let confirmed = await this.$confirm("Do you really want to update the flight?", {
        title: "Warning"
      });
      if (confirmed) {
        let loader = this.$loading.show();
        let flight = this.flights.find(
          flight => flight.__id === this.draggedFlight.__id
        );
        if (this.draggedFlightSourceState === "tow") {
          this.showTowTypeModal = true;
          loader.hide();
        } else {
          flight.__state = this.draggedFlightTargetState;
          flight.landtime = state === "landed" ? new Date() : undefined;
          await this.updateFlight({
            __id: flight.__id,
            __state: state,
            landtime: flight.landtime
          });
          loader.hide();
        }
      } else {
        this.revertFlight();
      }
    },
    async fetchTowTypes() {
      let { data } = await instance.get("/model/data", {
        params: {
          modelName: "towtype"
        }
      });
      return data;
    }
  },
  watch: {
    async actionId(__id) {
      this.flights = await fetchOngoingFlights(__id);
    }
  }
};
</script>