<template>
  <div class="card selection-item" @click="$emit('selected', __id)">
    <div class="card-block">
      <h5 class="card-title">
        <!-- <span class="text-muted">#{{flight.__id}}</span> -->
        {{ text }}
      </h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectionOption',
  props: ['text', '__id']
};
</script>

<style>
.card.selection-item {
  background: #627180;
}

.card.selection-item:hover {
  background: #46709b;
}

.flight-info {
  padding: 0;
  list-style: none;
}
</style>
