<template>
  <div class="card">
    <h3 class="card-header">{{ title }}</h3>
    <div class="card-body">
      <draggable
        v-model="currentFlights"
        :options="{ group: 'default' }"
        :sortable="true"
      >
        <div v-for="flight in sortedFlights" :key="flight.__id">
          <state-lane-flight-item :flight="flight" :__state="flight.__state"></state-lane-flight-item>
        </div>
      </draggable>
    </div>
    <div class="card-footer text-muted">{{flightCount}}</div>
  </div>
</template>

<script>
    import Draggable from 'vuedraggable';
    import StateLaneFlightItem from './StateLaneFlightItem';

    export default {
  name: 'StateLane',
  props: {
    flights: Array,
    name: String,
    title: String,
    id: String
  },
  components: {
    StateLaneFlightItem,
    Draggable,
  },
  computed: {
    sortedFlights() {
        let flights = JSON.parse(JSON.stringify(this.currentFlights));
      return flights.sort((a, b) => a.takeofftime > b.takeofftime ? 1 : -1)
    },
    flightCount() {
      if (!this.currentFlights) return '';
      if (this.currentFlights.length === 1) return '1 flight';
      return `${this.currentFlights.length} flights`;
    }
  },
  data: function() {
    return {
      lastSelectedFlight: null,
      currentFlights: this.flights
    };
  },
  watch: {
    currentFlights: function(newFlights, oldFlights) {
      if (newFlights.length > oldFlights.length) {
          let newFlightsSet = new Set(newFlights);
          let oldFlightsSet = new Set(oldFlights);
          let difference = new Set([...newFlightsSet].filter(x => !oldFlightsSet.has(x)));
          let newFlight = [...difference][0];
        this.$emit('flights-updated', { state: this.name, newFlight });
      } else {
        this.$emit('flight-drag-started', { state: this.name })
      }
    }
  }
};
</script>

<style>
.card-body > * {
  min-height: 50px;
}
</style>
