<template>
  <v-app dark style="background: transparent;">
    <div id="app">
      <div class="page-header">
        <h1>Megiddo Gliding Center - Action Management</h1>
          <h2 v-if="$store.getters.action">
              {{ actionDate }}
              <v-btn @click="$store.dispatch('exitAction')" outline>
                  <v-icon>close</v-icon>
              </v-btn>
          </h2>
      </div>

        <div v-if="$store.getters.action">
            <menu-bar></menu-bar>
            <router-view/>
        </div>
        <div v-else>
            <action-picker></action-picker>
        </div>
    </div>
  </v-app>
</template>

<script>
    import MenuBar from "@/components/MenuBar";
    import ActionPicker from "./views/ActionPicker";
    import moment from "moment";

    export default {
  name: "app",
  components: {
      "menu-bar": MenuBar,
      ActionPicker
  },
        computed: {
            actionDate() {
                let {actiondate} = this.$store.getters.action;
                return moment(new Date(actiondate)).format("YYYY-MM-DD");
            }
  }
};
</script>

<style>
#app {
  text-align: center;
}

.page-header h1 {
  font-weight: 300;
}

.card {
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 25px;
}

.card-block {
  padding: 15px;
}
</style>
